{
	"swagger": "2.0",
	"host": "tstapi01.go.com.mt",
	"schemes": [
		"https"
	],
	"info": {
		"description": "An API for managing GO scheduled deployments.\n\nBy making use of this API you agree to the <a href=\"./terms.pdf\" target=\"_blank\">terms of service</a>.\n\nFor important information applicable to all APIs <a href=\"http://confluence.corporate.intra:8080/display/ITDev/GO+REST+API+design+standards\" target=\"_blank\">see here</a>. //TODO: link to the correct documentation",
		"title": "GO Deployments REST API Documentation",
		"version": "v1",
		"contact": {
			"name": "GO IT department",
			"url": "https://tstdeveloper01.go.com.mt",
			"email": "GrpITD-Development@go.com.mt"
		},
		"x-logo": {
			"url": "images/go.png"
		}
	},
	"basePath": "/api/deploymentsmanagement/v1/deployments",
	"paths": {
		"/deploymentDate/{deploymentDate}": {
			"get": {
				"description": "Used to query deployments by deployment a specific deployment date. ",
				"summary": "Query a deployments by date identifier.",
				"externalDocs": {
					"description": "Find out more",
					"url": "https://tstdeveloper01.go.com.mt"
				},
				"operationId": "getSystemsDeploymentByDate",
				"tags": [
					"Services"
				],
				"produces": [
					"application/json;charset=ISO-8859-1"
				],
				"responses": {
					"200": {
						"description": "OK - The operation completed successfully",
						"schema": {
							"type": "array",
							"uniqueItems": true,
							"items": {
								"$ref": "#/definitions/SystemDeployment" 
							},
							"description": "The list of products eligible for a service."
						},
						"headers": {
							"X-GO-MINOR-VERSION": {
								"description": "The minor version of the API being consumed",
								"type": "string"
							}
						}
					},
					"400": {
						"$ref": "../common/responses.json#/4xxBadRequest"
					},
					"401": {
						"$ref": "../common/responses.json#/4xxUnauthorized"
					},
					"403": {
						"$ref": "../common/responses.json#/4xxForbidden"
					},
					"500": {
						"$ref": "../common/responses.json#/5xxInternalServerError"
					},
					"501": {
						"$ref": "../common/responses.json#/5xxNotImplemented"
					}
				},
				"security": [],
				"parameters": [{
					"$ref": "../common/parameters.json#/acceptParam"
				}, {
					"$ref": "../common/parameters.json#/publicKeyParam"
				}, {
					"$ref": "../common/parameters.json#/dateParam"
				}, {
					"$ref": "../common/parameters.json#/authorizationParam"
				}, {
					"$ref": "../common/parameters.json#/impersonationParam"
				}, {
					"in": "path",
					"name": "deploymentDate",
					"description": "The date dentifier representing the deployment window. The format of the alias is yyyyMMdd example: 20201201",
					"required": true,
					"type": "string"
				}
				]
			}, 
		},
		"/deploymentDurationByDate:{deploymentDate}": {
			"get": {
				"description": "Used to retrieve a total amount in minutes of all deployments sceduled for a particular deployment window indentified by date.",
				"summary": "Query deployments total duration in minutes for a particular date.",
				"externalDocs": {
					"description": "Find out more",
					"url": "https://tstdeveloper01.go.com.mt"
				},
				"operationId": "getDeploymentTotalDurationToDeployByDate",
				"tags": [
					"Services"
				],
				"produces": [
					"application/json;charset=ISO-8859-1"
				],
				"responses": {
					"200": {
						"description": "OK - The operation completed successfully",
						"headers": {
							"X-GO-MINOR-VERSION": {
								"description": "The minor version of the API being consumed",
								"type": "string"
							}
						}
					},
					"400": {
						"$ref": "../common/responses.json#/4xxBadRequest"
					},
					"401": {
						"$ref": "../common/responses.json#/4xxUnauthorized"
					},
					"403": {
						"$ref": "../common/responses.json#/4xxForbidden"
					},
					"500": {
						"$ref": "../common/responses.json#/5xxInternalServerError"
					},
					"501": {
						"$ref": "../common/responses.json#/5xxNotImplemented"
					}
				},
				"security": [],
				"parameters": [{
					"$ref": "../common/parameters.json#/acceptParam"
				}, {
					"$ref": "../common/parameters.json#/publicKeyParam"
				}, {
					"$ref": "../common/parameters.json#/dateParam"
				}, {
					"$ref": "../common/parameters.json#/authorizationParam"
				}, {
					"$ref": "../common/parameters.json#/impersonationParam"
				}, {
					"in": "path",
					"name": "deploymentDate",
					"description": "The date dentifier representing the deployment window. The format of the alias is yyyyMMdd example: 20201201",
					"required": true,
					"type": "string"
				}
				]
			}
		},
		"/postDeploymentTaskStatus:{deploymentStatus}": {
			"get": {
				"description": "Used to retrieve a list of SystemDeployment objects which status equals deploymentStatus parameter passed.",
				"summary": "Query deployments by deployment status.",
				"externalDocs": {
					"description": "Find out more",
					"url": "https://tstdeveloper01.go.com.mt"
				},
				"operationId": "getSystemsDeploymentByPostDeploymentStatus",
				"tags": [
					"Services"
				],
				"produces": [
					"application/json;charset=ISO-8859-1"
				],
				"responses": {
					"200": {
						"description": "OK - The operation completed successfully",
						"schema": {
							"type": "array",
							"uniqueItems": true,
							"items": {
								"$ref": "#/definitions/SystemDeployment" 
							},
							"description": "The list of System deployments filtered for a given status."
						},
						"headers": {
							"X-GO-MINOR-VERSION": {
								"description": "The minor version of the API being consumed",
								"type": "string"
							}
						}
					},
					"400": {
						"$ref": "../common/responses.json#/4xxBadRequest"
					},
					"401": {
						"$ref": "../common/responses.json#/4xxUnauthorized"
					},
					"403": {
						"$ref": "../common/responses.json#/4xxForbidden"
					},
					"500": {
						"$ref": "../common/responses.json#/5xxInternalServerError"
					},
					"501": {
						"$ref": "../common/responses.json#/5xxNotImplemented"
					}
				},
				"security": [],
				"parameters": [{
					"$ref": "../common/parameters.json#/acceptParam"
				}, {
					"$ref": "../common/parameters.json#/publicKeyParam"
				}, {
					"$ref": "../common/parameters.json#/dateParam"
				}, {
					"$ref": "../common/parameters.json#/authorizationParam"
				}, {
					"$ref": "../common/parameters.json#/impersonationParam"
				}, {
					"in": "path",
					"name": "deploymentDate",
					"description": "The date dentifier representing the deployment window. The format of the alias is yyyyMMdd example: 20201201",
					"required": true,
					"type": "string"
				}
				]
			}
		},
		"/deploymentDateRange:{dateFrom}-{dateTo}": {
			"get": {
				"description": "Used to retrieve a list of SystemDeployment objects by date range from and to.",
				"summary": "List of SystemDeployments by date",
				"externalDocs": {
					"description": "Find out more",
					"url": "https://tstdeveloper01.go.com.mt"
				},
				"operationId": "getAllSystemDeploymentsWithinDateRange",
				"tags": [
					"Services"
				],
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "OK - The operation completed successfully",
						"schema": {
							"type": "array",
							"uniqueItems": true,
							"items": {
								"$ref": "#/definitions/SystemDeployment" 
							},
							"description": "The list of products eligible for a service."
						},
						"headers": {
							"X-GO-MINOR-VERSION": {
								"description": "The minor version of the API being consumed",
								"type": "string"
							}
						}
					},
					"400": {
						"$ref": "../common/responses.json#/4xxBadRequest"
					},
					"401": {
						"$ref": "../common/responses.json#/4xxUnauthorized"
					},
					"500": {
						"$ref": "../common/responses.json#/5xxInternalServerError"
					},
					"501": {
						"$ref": "../common/responses.json#/5xxNotImplemented"
					}
				},
				"security": [],
				"parameters": [{
					"$ref": "../common/parameters.json#/acceptParam"
				}, {
					"$ref": "../common/parameters.json#/publicKeyParam"
				}, {
					"$ref": "../common/parameters.json#/dateParam"
				}, {
					"$ref": "../common/parameters.json#/authorizationParam"
				}, {
					"$ref": "../common/parameters.json#/contentTypeParam"
				}, {
					"$ref": "../common/parameters.json#/impersonationParam"
				}, {
					"in": "path",
					"name": "dateFrom",
					"description": "The date dentifier representing the deployment window. The format of the alias is yyyyMMdd example: 20201201",
					"required": true,
					"type": "string"
				}, {
					"in": "path",
					"name": "dateTo",
					"description": "The date dentifier representing the deployment window. The format of the alias is yyyyMMdd example: 20201201",
					"required": true,
					"type": "string"
				}
				]
			}
		},
		"/system:{systemName}": {
			"get": {
				"description": "Used to retrieve a list of SystemDeployment objects by system name.",
				"summary": "List of SystemDeployments by system name.",
				"externalDocs": {
					"description": "Find out more",
					"url": "https://tstdeveloper01.go.com.mt"
				},
				"operationId": "getAllDeploymentsBySystem",
				"tags": [
					"Services"
				],
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "OK - The operation completed successfully",
						"schema": {
							"type": "array",
							"uniqueItems": true,
							"items": {
								"$ref": "#/definitions/SystemDeployment" 
							},
							"description": "The list of products eligible for a service."
						},
						"headers": {
							"X-GO-MINOR-VERSION": {
								"description": "The minor version of the API being consumed",
								"type": "string"
							}
						}
					},
					"400": {
						"$ref": "../common/responses.json#/4xxBadRequest"
					},
					"401": {
						"$ref": "../common/responses.json#/4xxUnauthorized"
					},
					"500": {
						"$ref": "../common/responses.json#/5xxInternalServerError"
					},
					"501": {
						"$ref": "../common/responses.json#/5xxNotImplemented"
					}
				},
				"security": [],
				"parameters": [{
					"$ref": "../common/parameters.json#/acceptParam"
				}, {
					"$ref": "../common/parameters.json#/publicKeyParam"
				}, {
					"$ref": "../common/parameters.json#/dateParam"
				}, {
					"$ref": "../common/parameters.json#/authorizationParam"
				}, {
					"$ref": "../common/parameters.json#/contentTypeParam"
				}, {
					"$ref": "../common/parameters.json#/impersonationParam"
				}, {
					"in": "path",
					"name": "systemName",
					"description": "The system name to be matched to retrieve the list of systems.",
					"required": true,
					"type": "string"
				}
				]
			}
		},
		"/reload": {
			"post": {
				"description": "Reload any files that are created, changed or deleted in the configured path to the database.",
				"summary": "Re scan folder and reload ny files",
				"externalDocs": {
					"description": "Find out more",
					"url": "https://tstdeveloper01.go.com.mt"
				},
				"operationId": "reloadFiles",
				"tags": [
					"Services"
				],
				"produces": [
					"application/json"
				],
				"responses": {
					"201": {
						"description": "Created - The operation completed successfully",
						"headers": {
							"X-GO-MINOR-VERSION": {
								"description": "The minor version of the API being consumed",
								"type": "string"
							}
						}
					},
					"400": {
						"$ref": "../common/responses.json#/4xxBadRequest"
					},
					"401": {
						"$ref": "../common/responses.json#/4xxUnauthorized"
					},
					"500": {
						"$ref": "../common/responses.json#/5xxInternalServerError"
					},
					"501": {
						"$ref": "../common/responses.json#/5xxNotImplemented"
					}
				},
				"security": [],
				"parameters": [{
					"$ref": "../common/parameters.json#/acceptParam"
				}, {
					"$ref": "../common/parameters.json#/publicKeyParam"
				}, {
					"$ref": "../common/parameters.json#/dateParam"
				}, {
					"$ref": "../common/parameters.json#/authorizationParam"
				}, {
					"$ref": "../common/parameters.json#/contentTypeParam"
				}, {
					"$ref": "../common/parameters.json#/impersonationParam"
				}  
				]
			}
		}				
	},
	"definitions": {
			"SystemDeployment": {
			"description": "A System deployment entry in a deployments window including all details associated with it.",
			"allOf": [{
				"$ref": "#/definitions/Service"
			}, {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "A unique identifier for this deployment entry."
					},
					"lineNumber": { 
						"type": "number",
						"description": "The sequence of entry for this deployment entry in a deployment window."
					},
					"status": {
						"type": "string",
						"description": "The deployment status of this deployment entry. This can vary from: <br/>- Pending Peer Review <br/>- Pending STG Tests <br/>- Peer Reviewed <br/>- Approved <br/>- Rejected <br/>- Deployment Successful <br/>- Deployment Failed <br/>- Deployment Rolled Back <br/>- Deployment postponed <br/>- Approved To Be Deployed on Standby Live Cluster <br/>- Deployment Successful pending Standby Live Cluster"
					},										
					"stagingStatus": { 
						"type": "string",
						"description": "The staging status for this deployment entry. This can vary from: <br/>- Not ready for STG01 <br/>- Not ready for STG02 <br/>- Deployment ready for STG01 (pending approval) <br/>- Deployment ready for STG02 (pending approval) <br/>- Deployed on STG01 <br/>- Deployed on STG02"
					},
					"systemName": { 
						"type": "string",
						"description": "The name of the system in this deployment entry."
					},
					"projectInitiative": { 
						"type": "string",
						"description": "The project name of initiative reference."
					},
					"deploymentInstructions": { 
						"type": "string",
						"description": "A hyperlink point to a deployment procedure."
					},
					"dependencies": { 
						"type": "string",
						"description": "Any systems dependent on this deployment."
					},
					"releaseNotes": { 
						"type": "string",
						"description": "A hyperlink to a Jira or Jiras related to this deployment."
					},
					"contactPerson": { 
						"type": "string",
						"description": "The developer(s) to contact for this deployment entry."
					},
					"peerReviewer": { 
						"type": "string",
						"description": "The Peer Reviewer(s) to contact for this deployment entry."
					},
					"actualSTGDeploymentDurationMinutes": { 
						"type": "string",
						"description": "Total minutes recorded for this deployment when done on STG environment."
					},
					"projectedDurationMinutes": { 
						"type": "number",
						"description": "Projected total minutes for this deployment to be done on STG and Live environments."
					},
					"actualProdDeploymentDurationMinutes": { 
						"type": "number",
						"description": "Total minutes recorded for this deployment when done on Live environment."
					},
					"canBeDoneDuringTheDay": { 
						"type": "string",
						"description": "An indicator Yes or No of this deployment can be done during the day."
					},
					"deploymentApplicationDate": { 
						"type": "string",
						"description": "The date of this deployment entry."
					},
					"deploymentAutomation": { 
						"type": "string",
						"description": "Automation availibility for this deployment. This can vary from: <br/>- Full <br/>- Partial <br/>- None"
						
					},
					"devPostDeploymentTasks": { 
						"type": "string",
						"description": "A hyperlink reference to a Jira for post deployment task to be carried out by the developer."
					},
					"deploymentDate": { 
						"type": "date",
						"description": "The date of this deployment entry corresponding to the deployment window date."
					}
				},
			}
			]
		}
	}
}
